<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div class="bg-info clearfix p-3 mb-2 bg-dark text-white">
        <div class="row">
            <div class="col">
                <h5 align="center" background="##5cb85c">{{ Nombre }}</h5>
            </div>
            <div class="col">
                <a class="btn btn-warning float-right" (click)="onCerrar()">Cerrar</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>MATERIAS</b></h2>
                    </div>
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Curso</th>
                        <th>Horas</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of materias">
                        <td>{{data.COD_MATERIA}}</td>
                        <td>{{data.NOM_MATERIA}}</td>
                        <td>{{data.COD_CURSO}}</td>
                        <td>{{data.NUM_HORAS}}</td>
                        <td>
                            <button (click)="onAdministrar(data.COD_MATERIA)" text-color="white" class="btn btn-success btn-sm btn-center">Administrar</button>
                        </td>
                        <td>
                                <button (click)="onCalificar(data.COD_MATERIA)" class="btn btn-danger btn-sm btn-center" >Calificar</button>                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

</html>