<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div class="bg-info clearfix p-3 mb-2 bg-dark text-white">
        <div class="row">
            <div class="col">
                <h4 align="center" background="##5cb85c">{{ Nombre }}</h4>
            </div>
            <div class="col">
                <a class="btn btn-warning float-right" (click)="onCerrar()">Cerrar</a>
            </div>
        </div>
    </div>
    <div class="container row">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>MATERIAS</b></h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        Promedio acumulado
                    </div>
                    <div class="col">
                        <p>{{Promedio}}</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table id="dtBasicExample" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Curso</th>
                                    <th>Horas</th>
                                    <th>Periodo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of materias">
                                    <td>{{data.NOM_MATERIA}}</td>
                                    <td>{{data.NOM_CURSO}}</td>
                                    <td>{{data.NUM_HORAS}}</td>
                                    <td>{{data.COD_PERIODO}}</td>
                                    <td>
                                        <button (click)="onCalificacion(data.COD_MATERIA)"
                                            class="btn btn-danger btn-sm btn-center">Calificacion</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col" style="width:2000px; height:2000px">
                        <div >
                            <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels"
                                [chartType]="radarChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function () {
        $('#dtBasicExample').DataTable({
            "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>

</html>