<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Estudiante</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<div id="editEstudianteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Editar Estudiante/h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <textarea class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Codigo</label>
                                <textarea class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Contrasena</label>
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input (click)="onCancel()" type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input (click)="onEdit()" type="submit" class="btn btn-info" value="Editar">
                        </div>
                    </h4>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>